#calc{
    /*display: flex;*/
    height: 500px;
    width: 400px;
    /*border: 2px solid blue ;*/
    margin: auto;

}

#display{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgb(188, 191, 194);
    height: 70px;
    width: auto;
    font-size: 40px;
    font-weight: 700;
    /*border: 2px solid rgb(0, 255, 204) ;*/
    border-bottom: 2px solid rgb(0, 0, 0) ;

}
/*Container for the number pad and operator buttons*/
#userInputs{
    display: flex;
    background-color: rgb(188, 191, 194);
    justify-content: center;
    padding: 15px 0px 20px;
    height: auto;
    width: auto;
    /*border: 2px solid rgb(255, 85, 0) ;*/
    border-bottom: 2px solid rgb(0, 0, 0) ;
}
#numIcon{
    display: flex;
    flex-flow: column;
    height: auto;
    width: auto;
    margin: 0px 20px;
    /*border: 2px solid rgb(0, 191, 255) ;*/
}

.digit{
    background-color: aliceblue;
    font-size: 40px;
    font-weight: 700;
    margin: 1px auto;
    width: 75px;
    border-radius: 50px;
    margin: 3px;
    transition: ease-out 0.3s;
}

.digit:hover {
    box-shadow: inset 75px 0 0 0 rgb(80, 191, 255);
}

/*Zero digit button has a unique ID so that its width can be unique*/
#zeroDigit {
    width: 240px;
}

#zeroDigit:hover{
    box-shadow: inset 240px 0 0 0 rgb(80, 191, 255);
}

#operatorsIcon{
    display: flex;
    flex-flow: column;
    margin: 4px;
    
   /* border: 2px solid rgb(187, 255, 0) ;*/
}

#add, #subtract, #multiply, #divide{
    background-color: aliceblue;
    font-size: 40px;
    font-weight: 700;
    margin: 1px auto;
    width: 75px;
    border-radius: 30px;
    transition: ease-out 0.3s;
}

#add:hover, #subtract:hover, #multiply:hover, #divide:hover, #digit:hover{
    box-shadow: inset 75px 0 0 0 rgb(80, 191, 255);
}

#evaluate{
    display: flex;
    background-color: rgb(188, 191, 194);
    height: 100px;
    width: auto;
    /*border: 2px solid rgb(0, 191, 255) ;*/
}

#clear, #equals{
    background-color: aliceblue;
    font-size: 40px;
    font-weight: 700;
    margin: 10px auto;
    border-radius: 30px;
    transition: ease-out 0.3s;
}

#clear{
    width: 190px;
}
#clear:hover{
    box-shadow: inset 190px 0 0 0 rgb(80, 191, 255);
}

#equals{
    width: 90px;
}
#equals:hover{
    box-shadow: inset 90px 0 0 0 rgb(80, 191, 255);
}