#calc{
    /*display: flex;*/
    height: 600px;
    width: 400px;
    border: 2px solid blue ;
}

#display{
    display: flex;
    height: 100px;
    width: 300px;
    border: 2px solid rgb(0, 255, 204) ;
}

#userInputs{
    display: flex;
    height: 300px;
    width: 390px;
    border: 2px solid rgb(255, 85, 0) ;
}
#numIcon{
    /*display: flex;*/
    height: 250px;
    width: 250px;
    border: 2px solid rgb(0, 191, 255) ;
}

#operatorsIcon{
    /*display: flex;*/
    height: 250px;
    width: 100px;
    border: 2px solid rgb(187, 255, 0) ;
}

#evaluate{
    /*display: flex;*/
    height: 100px;
    width: 300px;
    border: 2px solid rgb(0, 191, 255) ;
}